APPNAME=SentryNode
ENVIRONMENT=development
LOGLEVEL=INFO
JWTSECRET=change-me
ABUSEIPDBAPIKEY=change-me
DISCORDWEBHOOKURL=

REDISHOST=localhost
REDISPORT=6379
REDISDB=0
REDISTTLSECONDS=3600
DEMOMODE=false
CORSORIGINS=
